*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(220, 204, 234);
}
.contenedor{
    margin-top: 20px;
    padding: 20px 0px 0px 0px;
    background-color: aquamarine;
}
a{
    color :aliceblue;
    margin: 20px;
    background-color: blue;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
}
a:hover{
    background-color: rgb(168, 168, 224);
}

.dotted{

    margin: 15px 0px 0px 5px ;
    padding: 10px;
    border-style: dashed;
    border-width: 3px;
    border-color: blueviolet;
    border-radius: 2px;
    width: 300px;
    height: 30vh;
}

#contenido{
    margin: 15px 0px 0px 5px ;
    padding: 10px;
    border-style: dashed;
    border-width: 3px;
    border-color: rgb(10, 150, 40);
    border-radius: 2px;
    width: 300px;
    height: 30vh;  
}
#contenido:hover{
    background-color: rgba(137, 43, 226, 0.321);
    border-radius: 25px;
}
