*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
.tabla-empleado{
    border-radius: 20px;
    padding: 10px;
    background-color: antiquewhite;
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    
}
.tabla-empleado table{
    width: 100%;
    border : 1px solid purple;
    border-radius: 20px;
    border-spacing: 0px;
    
}
.tabla-empleado thead{
    background-color: rgb(164, 227, 203);
}
.tabla-empleado thead th{
    padding: 10px;
}

.tabla-empleado .col{
    background-color: aqua;
}
.tabla-empleado .col td{
    padding: 5px 0px 5px 10px;
}
.tabla-empleado tbody tr td:first-child{
   text-align: center;
 }
.tabla-empleado .col:hover{
    background-color: rgb(73, 68, 221);
    color: aliceblue;
}
.tabla-empleado tbody tr:last-child td:last-child{
   border-bottom-right-radius: 20px;
}
.tabla-empleado tbody tr:last-child td:first-child{
   border-bottom-left-radius: 20px;
}
.tabla-empleado thead th:first-child{
   border-top-left-radius: 20px;
}
.tabla-empleado thead th:last-child{
   border-top-right-radius: 20px;
}
.tabla-empleado tbody tr:last-child td:first-child{
   border-bottom-left-radius: 20px;
}
/*-------------------------------- */
.tabla-empleados{
    border-radius: 20px;
    padding: 10px;
    background-color: antiquewhite;
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    
}
.tabla-empleados table{
    width: 100%;
    border : 1px solid purple;
    border-spacing: 0px;
    border-collapse: separate;
}

.tabla-empleados thead{
    background-color: rgb(164, 227, 203);
}
.tabla-empleados thead th{
    padding: 10px;
}

.tabla-empleados .col{
    background-color: aqua;
}
.tabla-empleados .col td{
    padding: 5px 0px 5px 10px;
}
.tabla-empleados tbody tr td:first-child{
   text-align: center;
 }